*{
  box-sizing:border-box;
  font-family: 'Lato', sans-serif;
}

body {
  position: relative;
  background: white;
  padding: 0px;
  margin: 0px;
}

.main-title {
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 100px;
  width: 100%;
  display: block;
  padding-left: 125px;
  background: black;
  color: white;
  /*margin-top:  20px;*/
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
}

header {
  width: 100%;
  margin: 0;
  font-size: 0px;
  text-align: center;

}

h1 {
  font-size: 50px;
  display: block;
  text-align: center;
}

nav {
  width: 100%;
  /*background: rgb(245,245,245);*/
  background: black;
  /*border: 4px solid black;*/
  border-left: none;
  border-right: none;
  padding: 5px 0%;
  margin: 5px 0;
  /*padding-left: 10%;*/
  text-align: left;
  clear: both;

}

/*nav ul, nav li {
  padding: 0;
  margin: 0;
}
*/

nav ul li {
  position: relative;
}
nav ul li ul {
    display:none;
    width: 250px;


}

nav ul li ul li {
   background: rgb(245,245,245);
    /*border: 1px solid black;*/
    /*padding: 10px 0%;*/
    display: inline-block;
    float: left;
    font-weight: none;
    z-index: 1000;
    /*width: 100px;*/
}

nav ul li:hover ul  {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
}
.wine {
  padding: 20px 200px;
  text-align: center;
}
.flow_right {
  /*float: right;*/
}

.pics {
  display: inline-block;
  width: 100%;
  background: #2C2803;
  padding: 10px;
}

.pics img {
  /*width: 100%;*/
   /*opacity: 0.7;*/
}

main {
  /*display: inline;
  padding: 10%;
  width: 80%;*/
  /*font-size: 0px;*/
  text-align: center;

}

.header-title a {
  text-decoration: none;
  color: black;
}
#gallery {
  text-align: center;
}
#gallery img{
  display: inline-block;
  width: auto;
  height: 200px;
}

#private_dining {
  width: 100%;
}
.emph {
  font-weight: bold;
  padding-right: 10px;
  padding-top: 5px;
}
section p {
  line-height: 1.5;
}

ul {
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 0px auto;
  width: 100%;
  text-align: center;

}
.wine h2 {
  padding-bottom: 0px;
  padding-top: 30px;
}
#title {
  font-family: 'Marck Script', cursive;
  text-align: center;
  font-size: 30px;
  position: relative;
  /*left: 50px;*/
  padding: 70px 0px;
  display: inline-block;
  z-index: -200;
}

#title img{
  vertical-align: middle;
  width: 25px;
}
ul li {
  display: inline-block;
  font-size: 1.2em;

}

ul li a {
  display: inline-block;
  /*width: 75px;*/
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  margin: 0 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  /*font-style: italic;*/
  letter-spacing: 3px;
  transition: all 0.2s;
}

ul li a:hover {
  background: white;
  color: black;
}

section {
  padding: 10px 40px;
  display: block;
  max-width: 800px;
  margin: 20px auto;
  width: 100%;
  font-size: 20px;
  text-align: justify;
}


span {
  font-size: 18px;
  /*font-weight: bold;*/
  /*font-family: 'Cardo', serif;*/
  /*font-style: italic;*/
}

section p{
  margin: 10px 0;
}

.sec_pics {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
#scroll_pics {
  width: 10000px;
  position: relative;
  left: 0px;

   -webkit-animation: myfirst 30s linear infinite;
   animation: myfirst 30s linear infinite;
}

@-webkit-keyframes myfirst {
    0% {left: 0px ;}
    50% {left: -500px;}
    1000% {left: 0px ;}
}

@keyframes myfirst {
    0% {left: 0px ;}
    50% {left: -500px;}
    1000% {left: 0px ;}
}

.content {
  display: inline-block;
 width: 50%;
 line-height: 1.5;
 padding: 1%;
 float:right;
}

section img {
  height: 400px;
  /*margin-right: 200px;*/
  /*float: left;*/
  /*margin-right: 10px;*/
  -webkit-filter: brightness(+145%);
  filter: brightness(+145%);
}
 #map_canvas {
  margin-top: 20px;
  border: 1px solid black;
  width: 100%;
  height: 400px;
}

#trentlogo {
  width: 75px;
  height: 25px;
}

.header-title{
  margin: 10px;
  /*font-family: 'Marck Script', cursive;*/
  float: right;
  text-align: right;
  font-size: 14px;
  position: absolute;
  right: 0px;


}

#coffee {
  margin: 10px 20px 10px 0px;
  width: 300px;
  height: auto;
  float: left;
}

.social-media {
  float: right;
  margin: 20px;
}
.social-media img {
  margin: 5px;
  width: 40px;
}

.twitter {
  background: transparent url(./pics/twitter.png) scroll no-repeat left center;
  background-size: cover;
  z-index: 1000;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#vacancies {
  width: 300px;
  margin: 10px auto;
  display: inline-block;
  float: left;
}

#vacancies_text, #vacancies_text ul {
 text-align: left;
 font-size: 16px;
 list-style-type: circle;
}

.news {
  display: inline-block;
  width: 300px;
  position: fixed;
  bottom: 0px;
  padding: 5px;
  left: 39%;
  text-align: center;
  margin: 0 auto;
  background: #ECECEC;
  color: black;
  text-decoration: none;
  /*border: 1px solid black;*/
}

input {
  width: 150px;
}




.reservation {

  width: 800px;
  text-align: center;
  margin: 20px auto;
  display: block;
}


#top-table {
  border: 1px solid black;
  width: 100%;
  text-align: center;
}

#top-table #OT_form {
  width: 100%;
}
#top-table .OT_wrapper {
  border-top: 2px solid #42382c;
  border-bottom: 2px solid #42382c;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  background-color: white;
  font-family: verdana,arial,helvetica,sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;

}

#top-table .OT_list {
  display: inline-block;
  width: 960px;
}
#top-table .OT_day, #top-table .OT_time, #top-table .OT_party {
margin: 10px;
padding: 15px;
border: none;
/*background: none;*/
/*background-position: -11px -5px;*/
/*border-top: 2px solid #3c3429;*/
/*border-bottom: 2px solid #433c33;*/
list-style: none;
display: inline-block;
width: 200px;
}

#top-table .OT_day {
  background-position: -11px -11px;
}
#top-table .OT_time {
  background-position: -11px -61px;
}

#top-table .OT_party {
    background-position: -11px -110px;
}


#top-table .OT_header, #top-table h1 , #top-table h1 {
  display: inline-block;
  width: ;
}

#top-table .OT_searchTimeField, #top-table .OT_searchDateField, #top-table .OT_searchPartyField {
  font-family: verdana,arial,helvetica,sans-serif;
  /*background: #fff unicode-bidi: rl(../img/downarrow_gray.gif) no-repeat right 0;*/
  color: #42382c;
  font-weight: bold;
  margin: 0;
  border: 1px solid #3b1c00;
  width: 130px;
  height: 18px;
  font-size: 12px;
  font-style: normal;
  padding: 1px 3px 2px 5px;
  border-radius: 5px;
  cursor: pointer;
}

#top-table .OTButton {
  background-image: none;
  width: 200px;
  border: 1px solid black;
}

#top-table a.OT_Find_a_Table:link {
  background-image: none;
  color: black;
  text-shadow: none;

}


.ui-widget{
  width: 215px !important;
}

#OT_timeList .OT_navListItem, #OT_partyList .OT_navListItem {
  width: 100px !important;
}
#OT_timeList li a.OT_navLink, #OT_partyList li a.OT_navLink {
  text-align: left !important;
}
  #OT_partyList li a.OT_navLink {
  width: 200px !important;
}


#trents_menu #locu-nav {
  background: rgb(245,245,245);
}

#trents_menu .locu-widget-wrapper #locu-render-output #locu-nav li {
  /*color: red;*/
   /*-webkit-transition: font-size 0.2s;
  transition: font-size 0.2s;*/
}

#trents_menu .locu-widget-wrapper #locu-render-output #locu-nav li:hover {
 color: black;
  /*font-size: 1.2em;*/
  text-decoration: none;
  border-bottom: 2px solid black;
}

#trents_menu .locu-widget-wrapper #locu-render-output #locu-nav li.locu-active {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  border-bottom: 2px solid black;
  padding: 5px;
}

.menu {
  padding: 20px;
}

#head_logo {
  width: 150px;
  float: left;
  margin: 10px;
  position: absolute;
  left: 0px;
}

